.container {
  display: flex;
  padding-top: 52px;
}
.container .left-column {
  width: 320px;
  height: 100%;
  padding: 15px 20px;
  position: fixed;
  left: 0;
  right: 0;
  border-right: 1px solid #f0f0f0;
}